<!-- <app-header></app-header> -->

<div class="w-full p-4">
  <div class="max-w-7xl m-auto flex flex-col gap-4">
    <div>
      <div class="text-8xl font-bold tablet:text-9xl">KAPMI</div>
      <div class="flex">
        <div class="w-20 h-40">
          <img
            src="https://raw.githubusercontent.com/jamiesocorro/kapmi-portfolio/master/src/assets/images/daryl.jpeg"
          />
        </div>
        <div class="w-20 h-40">
          <img
            src="https://raw.githubusercontent.com/jamiesocorro/kapmi-portfolio/master/src/assets/images/dea.jpeg"
          />
        </div>
        <div class="w-20 h-40">
          <img
            src="https://raw.githubusercontent.com/jamiesocorro/kapmi-portfolio/master/src/assets/images/lyra.jpeg"
          />
        </div>
        <div class="w-20 h-40">
          <img
            src="https://raw.githubusercontent.com/jamiesocorro/kapmi-portfolio/master/src/assets/images/yssa.jpeg"
          />
        </div>
        <div class="w-20 h-40">
          <img
            src="https://raw.githubusercontent.com/jamiesocorro/kapmi-portfolio/master/src/assets/images/julia.jpeg"
          />
        </div>
      </div>

      <div>
        <div class="text-sm font-bold pb-2">Latest Viral Videos</div>
      </div>
      <div class="flex flex-col gap-2 tablet:flex-row">
        <div class="m-auto tablet:m-0">
          <iframe
            src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fdarylongmusic%2Fvideos%2F7272873262772439%2F&show_text=false&width=267&t=0"
            width="250"
            height="400"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            allowFullScreen="true"
          ></iframe>
          <div class="text-xs font-bold mt-2">
            Total views across social media: 20 million views
          </div>
        </div>

        <div class="m-auto tablet:m-0">
          <iframe
            src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Falyssaquijanofans%2Fposts%2Fpfbid02iUDi4EvxDfZ3MExAMNrNTqCANbHzcJ2awJADPKwUk3DzHTHL1Q9b52LHYoNHyxVBl&show_text=true&width=500"
            width="250"
            height="400"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
          <div class="text-xs font-bold mt-2">
            Total views across social media: 5 million views
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="text-2xl font-bold">Artist</div>

      <div class="flex flex-col gap-2">
        <div>
          <div class="font-bold">Daryl Ong</div>
          <div class="pb-2">
            <span class="font-bold">Facebook page:</span>
            <span class="text-sky-600"
              ><a href="https://www.facebook.com/darylongmusic/"
                >https://www.facebook.com/darylongmusic/</a
              ></span
            >
          </div>

          <div>
            <iframe
              width="400"
              height="250"
              src="https://www.youtube.com/embed/9Q3BCn6wx5M"
              title="I Just Can&#39;t Stop Loving You (Cover) - Daryl Ong feat. Gigi De Lana &amp; The Gigi Vibes"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <hr />

        <div>
          <div class="font-bold">Dea</div>
          <div class="pb-2">
            <span class="font-bold">Facebook page:</span>
            <span class="text-sky-600"
              ><a href="https://www.facebook.com/deaformilleza"
                >https://www.facebook.com/deaformilleza</a
              ></span
            >
          </div>

          <div>
            <iframe
              width="400"
              height="250"
              src="https://www.youtube.com/embed/KD2KdzoNUuc"
              title="Dea Formilleza - Through The Fire | Idol Philippines 2019 Auditions"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <hr />
        <div>
          <div class="font-bold">Lyra</div>
          <div class="pb-2">
            <span class="font-bold">Facebook page:</span>
            <span class="text-sky-600"
              ><a href="https://www.facebook.com/LyraMicolob"
                >https://www.facebook.com/LyraMicolob</a
              ></span
            >
          </div>

          <div>
            <iframe
              width="400"
              height="250"
              src="https://www.youtube.com/embed/4yebRZFbvQc"
              title='The Clash: "What&#39;s Up" by Lyra Micolob | Clashback'
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <hr />
        <div>
          <div class="font-bold">Alyssa</div>
          <div class="pb-2">
            <span class="font-bold">Facebook page:</span>
            <span class="text-sky-600"
              ><a href="https://www.facebook.com/alyssaquijanofans"
                >https://www.facebook.com/alyssaquijanofans</a
              ></span
            >
          </div>

          <div>
            <iframe
              width="400"
              height="250"
              src="https://www.youtube.com/embed/TGyP1eNqukM"
              title="Alyssa Quijano - Araw-Gabi | Idol Philippines 2019 Auditions"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <hr />
        <div>
          <div class="font-bold">Julia</div>
          <div class="pb-2">
            <span class="font-bold">Facebook page:</span>
            <span class="text-sky-600"
              ><a href="https://www.facebook.com/juliaseradofficial"
                >https://www.facebook.com/juliaseradofficial</a
              ></span
            >
          </div>

          <div>
            <iframe
              width="400"
              height="250"
              src="https://www.youtube.com/embed/ZL0RpsqSg3A"
              title="Julia Serad&#39;s STANDING OVATION performance! | The Clash 2021"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
