/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lato;
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

* {
  font-family: "roboto", "arial", sans-serif;
}
